<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">
    <img src="assets/Logo.svg">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/home">
          <img src="assets/icons/ico_dashboard.svg">
          <!-- <svg>
              <use xlink:href="assets/ico_dashboard.svg#Developer-Test"></use>
            </svg> -->
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users">
          <img src="assets/icons/ico_users.svg">
          <span>Users</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/session-manager">
          <img src="assets/icons/ico_sessionmanager.svg">
          <span>Session Manager</span>
        </a>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link">
          <img src="assets/icons/ico_notification.svg">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <img src="assets/icons/ico_user.svg">
          <span>John Smith</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <img src="assets/icons/ico_downarrow.svg">
        </a>
      </li>
    </ul>
  </div>
</nav>